*.pyc
.DS_Store
.idea
build/
data/*/data
data/*/full-size-dataset
data/*/small-size-dataset
data/*/tiny-size-dataset
models/__pycache__/
models/*/__pycache__/
models/*/preprocess/__pycache__/
utils/__pycache__/
models/checkpoints/
models/metrics/*.csv
models/sent140/embs.json
_build/
_templates/
autodoc/
models/model.py
test/
metrics/metrics_sys.csv
RSA/metrics/sys_metrics.csv
stochastic_admm_model/metrics/metrics_sys_2.csv
models/metrics/metrics_sys.csv
RSA/metrics/metrics_sys.csv
sgd_model/metrics/metrics_sys.csv
geomed_model/metrics/metrics_sys.csv
med_model/metrics/metrics_sys.csv
stochastic_admm_model/metrics/metrics_sys.csv

